[Configuration]
FontName=Noto Mono 10
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBordersDefault=FALSE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_UNDERLINE
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=FALSE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
BackgroundMode=TERMINAL_BACKGROUND_TRANSPARENT
ScrollingBar=TERMINAL_SCROLLBAR_NONE
BackgroundDarkness=1.000000
ColorForeground=#9e9e9e9e9e9e
ColorBackground=#141414141414
MiscBellUrgent=FALSE
MiscMouseWheelZoom=TRUE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=FALSE
MiscShowRelaunchDialog=TRUE
MiscRewrapOnResize=TRUE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=FALSE
MiscNewTabAdjacent=FALSE
ColorPalette=rgb(25,25,25);rgb(172,65,66);rgb(144,169,89);rgb(244,191,117);rgb(106,159,181);rgb(170,117,159);rgb(117,181,170);rgb(97,97,97);rgb(38,38,38);rgb(117,42,42);rgb(93,116,42);rgb(117,78,42);rgb(42,78,116);rgb(112,54,100);rgb(41,115,102);rgb(158,158,158)
ColorBoldIsBright=FALSE
 
