:root {
    --toolbar-non-lwt-bgcolor: #1b1b1b !important;
    --backbutton-background: #444444 !important;
    --toolbar-non-lwt-bgimage: none !important;
    --tab-toolbar-navbar-overlap: 1px !important;
}

#urlbar {
    background-color: #282828 !important;
    border-radius: 0px !important;
}

.tabbrowser-tab:not([visuallyselected="true"]), .tabbrowser-tab:-moz-lwtheme {
    color: #949494 !important;
    background-color: #282828 !important;
}

#TabsToolbar .tab-background[selected] {
    background-color: #1b1b1b !important;
}

#TabsToolbar .tab-background {
    background-color: #282828 !important;
}

toolbarbutton:hover {
    color: #949494 !important;
}

.toolbarbutton-animatable-box, .toolbarbutton-1 {
    fill: #cccccc !important;
}

/* Fix for shitty border radiuses */

.close-icon > .button-icon, .close-icon > .button-box > .button-icon, .close-icon > .toolbarbutton-icon {
    border-radius: 0px !important;
}

.findbar-button > .toolbarbutton-text, toolbarbutton.bookmark-item:not(.subviewbutton), toolbar .toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-text, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
    border-radius: 0px !important;
}

#main-window, browser[type="content-primary"], browser[type="content"], tabbrowser#content, #content, browser[type="content"] > html {
  background: #1b1b1b !important;
}
